@import "utility.css";

$size-xs: 8px;
$size-s: 12px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;

$color-primary: #ff1f1f;

body {
  font-size: 14px;
  color: #fff;
  background-color: #121212;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  animation-duration: 0.2s;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

h2 {
  font-family: "Nanum Gothic Coding", monospace;
}


.color-primary {
    color: $color-primary;
  }
  
  .color-palatte-1 {
    color: #64ffda;
  }
  
  .color-palatte-2 {
    color: #d8c87b;
  }
  
  .color-palatte-3 {
    color: #d9baff !important;
  }
  
  .color-palatte-4 {
    color: #fe7bb1 !important;
  }
  
  .color-palatte-5 {
    color: #f97d6e;
  }
  
  .color-palatte-6 {
    color: #536dfe;
  }
  
  .margin-remove-bottom {
    margin-bottom: 0 !important;
  }
  
  .show {
    opacity: 1 !important;
  }
  
  .dark-theme-shadow {
    box-shadow: 0 -2px 10px black, 0 2px 10px black, 2px 0 10px black,
      -2px 0 10px black;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
  }
  


.container {
    margin-top: 10% !important;
    margin-left: 13%;
    margin-right: 13% !important;
    
    @media only screen and (max-width: 900px) {
        margin-top: 20% !important;
        margin-left: 5%;

    }
}

.privacy {
    h2 {
        font-size: 1.4rem !important;
    }

    h5 {
        margin-top: 12px;
        font-family: Montserrat, sans-serif;
        // line-height: 26px;
        font-size: 0.82rem;
    }
}

.information {
    margin-top: 28px;
    h3 {
        font-size: 1.2rem !important;
    }

    h6 {
        margin-top: 12px;
        font-family: Montserrat, sans-serif;
        // line-height: 18px;
        font-size: 0.79rem;
    }

    ul {
        margin-top: 20px;
    }

    p{
        margin-top: 16px;
font-size: 0.9rem;
    }

}