body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.bg-overlay {
  background: #e74c3c;
  height: 300px;
  width: 100%;
  transform: skewY(8deg);
  z-index: 3;
  margin-top: -200px;
}

.cont {
  height: 200px;
  background: #e74c3c;
  display: flex;
}

.titleMessage {
  height: 220px;
  z-index: 5;
  margin-top: -145px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
}

.main::before {
  background: white;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  animation: fade 1.1s linear 1;
}

.main::after {
  background: white;
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  animation: fade 1.1s linear 1;
}

.sub {
  margin-top: 80px;
  z-index: 5;
  transform: translate3d(10px, 10px, 10px);
  font-weight: 300;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.intro-section {
  height: 620px;
  background: #000;
}

.titleMessage .heading .main {
  font-size: 50px;
}

/* .titleMessage .heading .main::before {
  background: white;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  animation: fade 1s linear 1;
} */
.titleMessage .heading .sub {
  font-size: 23px;
}

/* .gotoContent{
    position: absolute;
    width: 100%;
    /* height: 250px; */
/* bottom: 30%;
    z-index: 5;
    text-align: center;
    margin-bottom: -30px;
} */
/* .viewWorkButton {
    color: #fff;
    position: relative;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s;
} */
/* .viewWorkButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
} */
.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.aboutInfo {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .aboutSection .aboutInfo h4 {
    padding-left: 10px;
    padding-top: 25px;
  }

  .aboutSection .aboutInfo p {
    padding-top: 15px;
    padding-left: 10px;
  }
}
.highlight {
  font-weight: 600;
  color: #e74c3c;
}

.skillsSection,
.contactSection {
  background-color: #e74c3c;
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.skill h4 {
  margin-top: 20px;
}

.techSkillsInfo {
  margin-bottom: 20px;
}

.skillNavigation {
  background: none;
  display: inline-flex;
  border: none;
  outline: none;
}

.skillNavigation:hover {
  outline: none;
}

.skillRow {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
}
@media only screen and (max-width: 573px) {
  .skillRow {
    margin-right: 32px;
  }
}

#typed {
  display: block;
}

.owl-carousel {
  margin-top: 25px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.statsSection h2 {
  color: #e74c3c;
}

.squareItem {
  margin-top: 30px;
  position: relative;
  opacity: 0;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}
@media only screen and (max-width: 999px) {
  .squareInnerContainer {
    height: 200px;
  }
}
@media only screen and (max-width: 769px) {
  .squareInnerContainer {
    height: auto;
  }
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

#filters {
  padding-left: 0;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -transition: all 0.2s linear, 1s;
}

.items .item > img {
  width: 400px;
  height: 250px;
}
@media only screen and (max-width: 994px) {
  .items .item > img {
    height: 200px;
  }
}
@media only screen and (max-width: 575px) {
  .items .item > img {
    height: 250px;
    width: 100%;
  }
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;
  transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
  opacity: 0;
}

.items .projectLink {
  float: right;
  right: -200px;
  opacity: 0;
}

.items .item:hover .openButton {
  left: 0px;
  opacity: 1;
}

.items .item:hover .projectLink {
  right: 0px;
  opacity: 1;
}

.items .item:hover img {
  transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.contactButton {
  color: #fff;
  padding: 15px 30px 15px 10px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.6s;
}

.contactButton i {
  padding: 0px 15px;
  font-size: 18px;
}

.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 35px 5px;
}

.copyrightSection p {
  margin: 35px;
}

#navigation {
  background-color: #e74c3c;
  padding: 8px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
  transition: all 0.5s;
}

#navigation a:hover {
  transition: all 0.5s;
  color: #333333;
}

#navigation .active a {
  color: #333333;
  font-weight: 900;
}

.navbar-brand {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../images/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
  transition: 0.4s;
  box-shadow: -1rem 0 1rem #e74c3c;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../images/loader.gif) center center no-repeat;
}

.copyrightSection a {
  text-decoration: none;
}

@media only screen and (max-width: 348px) {
  .icon-wrap > a:nth-child(4) {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 430px) {
  .icon-wrap > a:nth-child(5) {
    margin-top: 15px;
  }
}

.copyrightSection .icon-wrap .icon {
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  margin: 0 15px;
  color: #fff;
  transition: all 0.5s;
  background: #333333;
  font-size: 18pt;
}

.copyrightSection .icon-wrap .icon:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #e74c3c;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #e74c3c;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translatex(-30px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInLeftDouble {
  from {
    opacity: 0;
    transform: translatex(-60px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-left-double {
  animation-name: fadeInLeftDouble;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
  transition-delay: 5s;
}

@keyframes fadeInRightDouble {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-right-double {
  animation-name: fadeInRightDouble;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translatey(40px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-up {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
