body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../images/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../images/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

/* .titleMessage .heading .main::before {
  background: white;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  animation: fade 1s linear 1;
} */

.titleMessage .heading .sub {
  font-size: 23px;
}

/* .gotoContent{
    position: absolute;
    width: 100%;
    /* height: 250px; */
/* bottom: 30%;
    z-index: 5;
    text-align: center;
    margin-bottom: -30px;
} */

/* .viewWorkButton {
    color: #fff;
    position: relative;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s;
} */

/* .viewWorkButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
} */

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.aboutInfo {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .aboutSection .aboutInfo h4 {
    padding-left: 10px;
    padding-top: 15px;
  }
  .aboutSection .aboutInfo p {
    padding-top: 15px;
    padding-left: 10px;
  }
}

.highlight {
  font-weight: 600;
  color: #e74c3c;
}

.skillsSection,
.contactSection {
  background-color: #e74c3c;
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.skill h4 {
  margin-top: 20px;
}

.techSkillsInfo {
  margin-bottom: 20px;
}

.skillNavigation {
  background: none;
  display: inline-flex;
  border: none;
  outline: none;
}

.skillNavigation:hover {
  outline: none;
}

.skillRow {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;

    @media only screen and (max-width: 573px) {
    margin-right: 32px;
}
}

#typed {
  display: inline;
}

.owl-carousel {
  margin-top: 25px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.statsSection h2 {
  color: #e74c3c;
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

#filters{
  padding-left: 0;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -transition: all 0.2s linear, 1s;
}

.items .item > img {
  width: 400px;
  height: 250px;

  @media only screen and (max-width: 994px) {
    height: 200px;
  }
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

  -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
}

.items .projectLink {
  float: right;
  right: -200px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.contactButton {
  color: #fff;
  padding: 15px 30px 15px 10px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.6s;
}

.contactButton i {
  padding: 0px 15px;
  font-size: 18px;
}

.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 35px 5px;
}

.copyrightSection p {
  margin: 35px;
}

#navigation {
  background-color: #e74c3c;
  padding: 8px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
  transition: all 0.5s;
}

#navigation a:hover {
  transition: all 0.5s;
  color: #333333;
}

#navigation .active a {
  color: #333333;
}

.navbar-brand {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../images/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../images/loader.gif) center center no-repeat;
}

.copyrightSection a {
  text-decoration: none;
}

.icon-wrap > a:nth-child(4){
    @media only screen and (max-width: 348px) {
    margin-top: 15px;
  }
}

.icon-wrap > a:nth-child(5){
    @media only screen and (max-width: 430px) {
    margin-top: 15px;
  }
}



.copyrightSection .icon-wrap .icon {
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  margin: 0 15px;
  color: #fff;
  transition: all 0.5s;
  background: #333333;
  font-size: 18pt;
}

.copyrightSection .icon-wrap .icon:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
