@import "utility.css";
body {
  font-size: 14px;
  color: #fff;
  background-color: #121212;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  animation-duration: 0.2s;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

h2 {
  font-family: "Nanum Gothic Coding", monospace;
}

.color-primary {
  color: #ff1f1f;
}

.color-palatte-1 {
  color: #64ffda;
}

.color-palatte-2 {
  color: #d8c87b;
}

.color-palatte-3 {
  color: #d9baff !important;
}

.color-palatte-4 {
  color: #fe7bb1 !important;
}

.color-palatte-5 {
  color: #f97d6e;
}

.color-palatte-6 {
  color: #536dfe;
}

.margin-remove-bottom {
  margin-bottom: 0 !important;
}

.show {
  opacity: 1 !important;
}

.dark-theme-shadow {
  box-shadow: 0 -2px 10px black, 0 2px 10px black, 2px 0 10px black, -2px 0 10px black;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.check-out-header {
  padding: 8px 0;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-out-header p {
  color: #64ffda;
  font-weight: bold;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
  cursor: pointer;
}
.check-out-header p:hover {
  color: #1de9b6;
  transition: 250ms color ease-in-out;
}
.check-out-header a,
.check-out-header a:active,
.check-out-header a:visited,
.check-out-header a:hover {
  text-decoration: none;
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../images/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../images/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
  font-family: "Nanum Gothic Coding", monospace;
}

.titleMessage .heading p {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
  font-size: 26px;
}

.titleMessage .heading .main {
  font-size: 72px;
  font-weight: 200;
}

.location-box {
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
}
.location-box i {
  color: #ff1f1f;
  font-size: 26px;
  opacity: 0;
  transition: 200ms all linear;
}

.location-text {
  margin-left: 12px;
  letter-spacing: 1.2px !important;
  color: #fff !important;
  font-size: 22px !important;
  font-family: "Montserrat", sans-serif;
}

.alternate-job {
  color: #6addfe;
  height: 43px;
}

.titleMessage .heading .sub {
  color: #6addfe;
  height: 40px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-right: 8px;
}
.location .location-icon {
  color: #fff;
  font-size: 32px;
  opacity: 0.6;
  margin-right: 4px;
}

.section {
  padding: 120px 0;
}

.section-small {
  padding: 90px 12px;
  background: #000;
}

.aboutSection {
  position: relative;
}
.aboutSection .aboutInfoDetails h5 {
  height: 24px;
}

.aboutSection::before {
  content: "Who is this guy?";
  font-weight: 500;
  opacity: 0.1;
  font-size: 4.7em;
  color: #fff;
  position: absolute;
  transform: rotate(270deg);
  top: 300px;
  left: -250px;
  letter-spacing: 4px;
}
@media only screen and (max-width: 1166px) {
  .aboutSection::before {
    font-size: 4em;
    top: 275px;
    left: -220px;
  }
}
@media only screen and (max-width: 670px) {
  .aboutSection::before {
    transform: rotate(0deg);
    top: 20px;
    left: 50%;
    margin-left: -16.5rem;
  }
}
@media only screen and (max-width: 590px) {
  .aboutSection::before {
    font-size: 3.2em;
    top: 40px;
    margin-left: -13rem;
  }
}
@media only screen and (max-width: 454px) {
  .aboutSection::before {
    font-size: 2.8em;
    top: 40px;
    margin-left: -12rem;
  }
}
@media only screen and (max-width: 405px) {
  .aboutSection::before {
    font-size: 2.2em;
    top: 40px;
    margin-left: -10rem;
  }
}
@media only screen and (max-width: 338px) {
  .aboutSection::before {
    font-size: 1.6em;
    top: 40px;
    margin-left: -8rem;
  }
}

.aboutImage {
  max-width: 95%;
  border-radius: 50%;
}

.aboutInfo {
  font-weight: 600;
}

.aboutInfoDetails {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .aboutSection .aboutInfo h4 {
    padding-left: 10px;
    padding-top: 25px;
  }

  .aboutSection .aboutInfo p {
    padding-top: 15px;
    padding-left: 10px;
  }
}
.highlight {
  font-weight: 700;
  color: #ff1f1f;
}

@media only screen and (max-width: 746px) {
  #work {
    margin-top: 12px;
  }
}

.my-details {
  height: 320px;
}
@media only screen and (max-width: 1200px) {
  .my-details {
    height: 360px;
  }
}
@media only screen and (max-width: 994px) {
  .my-details {
    height: 420px;
  }
}
@media only screen and (max-width: 746px) {
  .my-details {
    height: 420px;
  }
}
@media only screen and (max-width: 482px) {
  .my-details {
    margin-top: 8px;
    height: 440px;
  }
}
@media only screen and (max-width: 398px) {
  .my-details {
    margin-top: 8px;
    height: 460px;
  }
}

.skillsSection {
  background-color: #000;
  position: relative;
  color: #fff;
}
.skillsSection h2 {
  color: #ff1f1f;
}

.skillsSection p {
  font-size: 1.1rem;
  padding-bottom: 12px;
}

.skill {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: 0.95;
  transition: 0.2s ease-in-out;
}

.skill:hover {
  opacity: 1;
}

.dev-skills {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .dev-skills {
    font-size: 2.2rem;
  }
}

.services-header {
  padding-top: 18px;
  font-weight: 700;
  opacity: 0;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.65rem;
  letter-spacing: 0.5px;
}

.services {
  display: grid;
  margin-top: 32px;
  grid-template-columns: 0.5fr 0.5fr;
}

.grid-data {
  display: grid;
  opacity: 0;
  grid-template-rows: 0.5fr 0.2fr;
  justify-items: center;
  height: 160px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.hex-wrap {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.hexagon:before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.hexagon {
  background-color: #ff1f1f;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
}

.hexagon:after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.hexagon i {
  color: #fff;
  font-size: 42px;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.service-information {
  text-align: center;
}

.label {
  font-size: 1.2rem;
  margin: 12px 0;
  color: #ff1f1f;
}
@media only screen and (max-width: 999px) {
  .label {
    margin-top: 12px;
    font-size: 1.18rem;
  }
}
.techSkillsInfo {
  margin-top: 24px;
}

.skillNavigation {
  background: none;
  display: inline-flex;
  border: none;
  outline: none;
}

.skillNavigation:hover {
  outline: none;
}

.skill-showcase {
  display: flex;
  flex-wrap: wrap;
}
.skill-showcase img {
  width: 55%;
  height: 400px;
}
@media only screen and (max-width: 1199px) {
  .skill-showcase img {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .skill-showcase img {
    width: 100%;
  }
}

.skills-container h6 {
  font-weight: 800;
}
@media only screen and (max-width: 620px) {
  .skills-container {
    margin-left: 32px;
  }
}

.skillRow {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
}
@media only screen and (max-width: 573px) {
  .skillRow {
    margin-right: 32px;
  }
}

#typed {
  display: block;
  color: #f97d6e;
}

.owl-carousel {
  margin-top: 25px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.statsSection h2 {
  color: #ff1f1f;
}

.squareItem {
  margin-top: 30px;
  position: relative;
  opacity: 0;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
}
@media only screen and (max-width: 999px) {
  .squareInnerContainer {
    height: 200px;
  }
}
@media only screen and (max-width: 769px) {
  .squareInnerContainer {
    height: 176px;
  }
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #ff1f1f;
}

.squareContent h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #999;
}

#filters {
  padding-left: 0;
}

.filter a {
  color: #bdc3c7;
  border: 1px solid #bdc3c7;
  padding: 10px 18px;
  display: block;
  border-radius: 6px;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #ff1f1f;
  border-color: #ff1f1f;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
}

.items li {
  display: inline-block;
  padding: 9px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -transition: all 0.2s linear, 1s;
}

.items .item > img {
  height: 320px;
}
@media only screen and (max-width: 994px) {
  .items .item > img {
    height: 200px;
  }
}
@media only screen and (max-width: 575px) {
  .items .item > img {
    height: 250px;
    width: 100%;
  }
}

.large img {
  height: 560px !important;
}
@media only screen and (max-width: 994px) {
  .large img {
    height: 200px;
  }
}
@media only screen and (max-width: 575px) {
  .large img {
    height: 250px;
    width: 100%;
  }
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  bottom: 12%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .portfolio-info {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 12%;
  margin: -20px 4px 0px 4px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .items .portfolio-info {
    margin: -20px 4px 0 4px;
  }
}

.portfolio-info {
  bottom: 80%;
  cursor: default;
  opacity: 0;
}
.portfolio-info h3 {
  font-size: 1.32rem;
  color: white;
  padding: 0 8px;
  text-align: center;
}
.portfolio-info p {
  font-size: 1.095rem;
  color: #ff1f1f;
  text-align: center;
}

.items .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
}

.items .icons i {
  color: #fff;
  font-size: 22px;
  margin-left: 2px;
}

.items a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff1f1f;
  position: relative;
  display: inline-block;
  transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -transition: all 0.25s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  bottom: -200px;
  opacity: 0;
}

.items .projectLink {
  float: right;
  bottom: -200px;
  opacity: 0;
}

.items .item:hover .openButton {
  bottom: 0px;
  opacity: 1;
}

.items .item:hover .projectLink {
  bottom: 0px;
  opacity: 1;
}

.items .item:hover .portfolio-info {
  bottom: 0px;
  opacity: 1;
}

.items .item:hover img {
  background: #000;
}

.items {
  padding: 0;
}

.contactButton {
  color: #fff;
  padding: 15px 30px 15px 10px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all 0.6s;
}

.contactButton i {
  padding: 0px 15px;
  font-size: 18px;
}

.contactButton:hover {
  text-decoration: none;
  color: #ff1f1f;
  background-color: #fff;
}

.copyrightSection {
  background-color: #060606;
  color: #fff;
  padding: 55px 5px;
}

.copyrightSection h3 {
  text-align: center;
}

.copyrightSection p {
  margin: 35px;
}

#navigation {
  background-color: #000;
  padding: 8px 10px;
  z-index: 100;
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.09rem;
}
#navigation li {
  padding: 0 10px;
}
#navigation li a {
  color: #fff;
  transition: all 0.5s;
}

#navigation a:hover {
  transition: all 0.5s;
  color: #ff1f1f;
}

#navigation .active a {
  color: #ff1f1f;
  font-weight: 900;
}

.navbar-brand {
  color: #fff;
  margin-left: 24px;
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  background: url(../images/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
  transition: 0.4s;
  box-shadow: -1rem 0 1rem #060606;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../images/loader.gif) center center no-repeat;
}

.copyrightSection a {
  text-decoration: none;
}

@media only screen and (max-width: 349px) {
  .icon-wrap > a:nth-child(4),
.icon-wrap > a:nth-child(5) {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 364px) {
  .icon-wrap > a:nth-child(5) {
    margin-top: 15px;
  }
}

.copyrightSection .icon-wrap .icon {
  overflow: hidden;
  transition: all 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  position: relative;
  text-align: center;
  margin: 0 15px;
  color: #fff;
  transition: all 0.5s;
  background: #333333;
  font-size: 18pt;
  border-radius: 4px;
}
@media only screen and (max-width: 434px) {
  .copyrightSection .icon-wrap .icon {
    margin: 0 12px;
  }
}
@media only screen and (max-width: 405px) {
  .copyrightSection .icon-wrap .icon {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 364px) {
  .copyrightSection .icon-wrap .icon {
    margin: 0 15px;
  }
}

.copyrightSection .icon-wrap .icon:hover {
  background-color: #ff1f1f;
  border-color: #ff1f1f;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  display: flex;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  background: #121212;
  border: 4px solid #ff1f1f;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #ff1f1f;
  animation: loader-inner 2s infinite ease-in;
}

.text-medium {
  font-size: 1.06rem;
}

.text-large {
  font-size: 1.18rem;
  margin-bottom: 14px;
}
@media only screen and (max-width: 398px) {
  .text-large {
    font-size: 1.05rem;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translatex(-30px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInLeftDouble {
  from {
    opacity: 0;
    transform: translatex(-60px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-left-double {
  animation-name: fadeInLeftDouble;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
  transition-delay: 5s;
}

.flip-in-x {
  animation-name: flipX;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeInRightDouble {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-right-double {
  animation-name: fadeInRightDouble;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translatey(40px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.in-up {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes flipX {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/*# sourceMappingURL=style.css.map */
