.margin-left-xs {
    margin-left: 8px !important;
  }
  
  .margin-left-s {
    margin-left: 12px !important;
  }
  
  .margin-left-m {
    margin-left: 16px !important;
  }
  
  .margin-left-l {
    margin-left: 24px !important;
  }
  
  .margin-left-xl {
    margin-left: 32px !important;
  }
  
  .margin-bottom-xs {
    margin-bottom: 8px !important;
  }
  
  .margin-bottom-s {
    margin-bottom: 12px !important;
  }
  
  .margin-bottom-m {
    margin-bottom: 16px !important;
  }
  
  .margin-bottom-l {
    margin-bottom: 24px !important;
  }
  
  .margin-bottom-xl {
    margin-bottom: 32px !important;
  }
  
  .margin-top-xs {
    margin-top: 8px !important;
  }
  
  .margin-top-s {
    margin-top: 12px !important;
  }
  
  .margin-top-m {
    margin-top: 16px !important;
  }
  
  .margin-top-l {
    margin-top: 24px !important;
  }
  
  .margin-top-xl {
    margin-top: 32px !important;
  }
  
  .margin-right-xs {
    margin-right: 8px !important;
  }
  
  .margin-right-s {
    margin-right: 12px !important;
  }
  
  .margin-right-m {
    margin-right: 16px !important;
  }
  
  .margin-right-l {
    margin-right: 24px !important;
  }
  
  .margin-right-xl {
    margin-right: 32px !important;
  }