body{
    background :#7a291a;;
    color: #EAEAEA;
    font-family : "Century Gothic" ;  
    
}
span{
        color:#111111;
}
a{
    text-decoration: none;
}
#nav > ul > li {
  display : inline-block;
  margin-right : auto; 
  padding : 12px;
  color : #EAEAEA;
  line-height: 3em;
  text-transform: uppercase;
  font-size: 33px;
}

#nav button{
   border: none;
   background : #444444;
   color : #EAEAEA;
   line-height: 3em;
   text-transform: uppercase;
   font-size: 28px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#nav button:hover{
    background-color: #222222;
}

.container #nav{
   position : static; 
   right : none;
   text-align : center;
   position : relative;
   right : 30px;
  
}

#banner {
  overflow : hidden;
  width : 1100px;
  margin : 0px auto;
  background :#2b2b2b;
  padding : 40px 70px;
} 

#banner h1{
    letter-spacing: 2px;
   text-transform : uppercase;
   text-align : center;
   font-size : 80px;
 }

#banner p{
  font-size : 26px;
  text-align : justify;
  letter-spacing : -2px;
    color:#0fff9f;
}


#li2{
  color: #1CA5FF;
   
}
#li3{
  color: #FF8732;
   
}
#li4{
  color: #27B44B;
   
}
#li5{
  color: #E45845;
   
}
#li6{
  color: #B35BE6;
   
}
#li7{
  color: #9FFFFF;   
   
}


.links{
      list-style-type: none;
    overflow: hidden;
    background-color: #000000;

    
}

.left{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333333;
}
#linkers {
          position: absolute;
              left:450px;
            z-index: -1;
            text-align: center;
    }


.header{
    font-size :35px;letter-spacing : 3px;color :#EAEAEA;letter-spacing: 3px;top: auto;
}
